{% extends 'base.html' %}
{% load static %}

{% block title %} {{livro.titulo}} | {% endblock %}

{% block content %}

<a href="{% url 'website:index' %}">Início</a>

{% if livro.capa %}
  <img align="right" src="{{livro.capa.url}}" style="max-width: 300px; height: auto;">
{% endif %}

<h1 class="mt-5">{{livro.titulo}}</h1>

<dl>
  <dt>ID</dt>
  <dd>{{livro.id}}</dd>

  <dt>Autor</dt>
  <dd>{{livro.sobrenome}}, {{livro.nome}}</dd>

  <dt>Ano de Publicação</dt>
  <dd>{{livro.ano_pub|date:'Y'}}</dd>

  <dt>Idioma</dt>
  <dd>{{livro.idioma}}</dd>

  <dt>Categoria</dt>
  <dd>{{livro.categoria}}</dd>

  <dt>Descrição</dt>
  <dd>
    {{livro.descricao}}
  </dd>
</dl>



{% endblock %}